[Unit]
Description=Tyt simple node express + client service
After=network.target

[Service]
User=criamon
# Environment=MOUNT_PATH=tytubka PORT=3000
WorkingDirectory=/home/criamon/share/tyt
Restart=always
RestartSec=10
ExecStart=/usr/bin/npm start 
StandardOutput=syslog
StandardError=syslog
[Install]
WantedBy=default.target