extends layout

block content
  a(href="/tytubka/") Home 
  a(href="/tytubka/list") Downloaded 
  h1= title
  form(action="/tytubka/info")
        label Enter youtube video url (address)
            input(name="url")
        button Get
        
