doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/tytubka/stylesheets/style.css')
  body
    div(class="inprogress")
     if __downloading.length
      span In progress:  
     each video in __downloading
      div
       span #{video.progressPercent||0} % #{video.title} 
    block content
