body {
  padding: 50px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.row, .details,.file-list {
  display: flex;
  
}
.row {
  margin: 5px 0;
}
.details,.file-list{
  flex-direction: column;
}
a {
  text-decoration: none;
  color: #00B7FF;
}
.file-list .row {
  margin: 30px 0;
  /* height: 120px; */
}
.details {
  margin-left:10px;
  flex-grow: 1;
  justify-content: space-between;
}
.metadata-row{
  display: flex;
}
.metadata-row span {
  margin:0 10px;
}
.video-title {
  font-size: 1.2em;
}
.format-item {
  font-size: 1.4em;
  margin: 25px 0;
  padding: 10px;
  border: #00B7FF 1px solid;
}
.delete {
  color:red;
}
nav {
  margin: 10px;
}
nav a.button {
  padding: 10px;
  background-color: #00B7FF;
  color:white;
  font-size: 1.5em;
  margin:20px 20px;
  border-radius: 10px;
}
.video-length {
  font-weight: bolder;
}
.delete {
  padding: 10px;
  background-color: red;
  color:white;
  display: flex;
  align-items: center;
}
form div {
  display: flex;
}
form div > *{
  margin-right: 10px;
  font-size: 2em;
}
form div input {
  flex-grow: 1;
}
.expand{
  display: block;
  width: 100%;
}
.inprogress {
  margin-top: 20px;
}
.inprogress .row {
  align-items: center;
}
.inprogress .video-title {
  flex-grow: 1;
}
.inprogress .percent {
  padding:5px 8px;
  display: flex;
  align-items: center;
  border: 1px solid gray;
}
.inprogress .row > *{
  margin: 2px;
}